apiVersion: v1
name: logrotate
description: logrotate chart that runs on kubernetes
version: {{ getenv "VERSION" }}
keywords:
  - logrotate
  - kubernetes
home: https://github.com/stakater/chart-logrotate
maintainers:
- name: Stakater
  email: stakater@aurorasolutions.io
